html,
body {
  padding: 0;
  margin: 0;
  font-display: optional;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::-moz-selection {
  background: "#d35c8c";
}
::selection {
  background: #d35c8c;
}

body::-webkit-scrollbar-track,
.scroll--bar::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #e9e9e9;
  margin: 0 12px;
}

body::-webkit-scrollbar,
.scroll--bar::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #adadad;
}
.scroll--bar::-webkit-scrollbar-thumb {
  border-radius: 5px;
}

html {
  scroll-behavior: smooth;
}

#nprogress .bar {
  background: var(--theme-ui-colors-productType1) !important;
}
